.hero{
    height: 80vh;
}

/*===============================
    1. Left Section
=================================
*/
.hero .left-section{
    flex-grow: 1;
}

.left-section .title{
    font-size: 2.05rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title)
}
.left-section .sub-title{
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.65rem;
    padding-bottom: 15px;
}
.left-section .sub-title .name {
    color: var(--name);
    font-weight: bold;
}
/* Social in index.css */
/*===============================
    1. Right Section => animation
=================================
*/
/* in index.css */