:root{
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --name: #ee6c4d;
  --subtitle: rgb(161 161 170);
  --bgheader: rgb(39, 39, 42);
  --bgbox: rgb(39, 39, 42);
  --secondarytitle: rgb(244 244 245);
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
  --container-padding: 3rem;
}
.light{
  --primary: 	rgb(244, 237, 237);
  --secondary:    rgb(255, 255, 255);
  --border: rgba(233, 197, 106, 0.71);
  --title: 	 #293241;
  --name: #ee6c4d;
  --subtitle:  #3d5a80;
  --bgheader: 	rgb(244, 237, 237);
  --bgbox: #0e8c7f;
  --secondarytitle: #0e8c7f;
  --icon-hover: 		#3d5a80;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
  letter-spacing: .1px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.8rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
  background-color:var(--primary);
  color: #fff;
}
.container{
  width: 80%;
  margin: 0 auto;
  background-color: var(--secondary);
  padding: 0 var(--container-padding);
}
.divider{
  border-bottom: 1px solid var(--border);
  margin: 3rem calc(var(--container-padding)*-1);
  width: calc(100% + var(--container-padding)*2)
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.flex{
  display: flex;
  align-items: center;
}
.flex:has( > h1) {
  flex-wrap: wrap;
}
h1.heading{
  min-width: 100%;
  text-align: center;
  color: var(--title);
  position: relative;
  margin: 3rem 0;
}
.heading::before{
  content: "";
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 0.2rem;
  background-color: var(--title);
  z-index: 2;
}
button{
  color: var(--subtitle);
  background-color: var(--bgheader);
  border: none;
}
button:hover{
  cursor: pointer;
}
button:active{
  scale: 0.95;
}
button:disabled {
 opacity: 0.4;
 cursor: not-allowed; 
}
@media (max-width: 1000px) {
  .container{
  --container-padding: 1.7rem;
    width: 90%;
  }
  .divider{
    margin: 3rem calc(var(--container-padding) * -1);
    width: calc(100% + var(--container-padding) * 2)
  }
}
.scrollTop{
  color: var(--secondarytitle);
  width: 2.6rem;
  height: 2.6rem;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  animation: moveY .5s ease-in infinite ;
  transition: 0.3s;
  &:hover{
    background-color: var(--bgbox);
    color: #fff;
  }
}
@keyframes moveY {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}


@media (max-width: 600px) {
  .container{
    width: 98%;
    padding: 0 var(--container-padding);
  }
  .scrollTop{
    width: 2.2rem;
    height: 2.2rem; 
    opacity: 0.5;
    font-size: 1.5rem;
  }
}
.animation{
  width: 100%;
  translate: 100px 10px;
}
/* Social */
.social {
  gap: 1rem;
  font-size: 1.3rem;
  color: var(--secondarytitle)
}
.social .icon:hover{
  font-size: 1.5rem;
  transition: .2s;
  cursor: pointer;
  &.icon-github {
    color: var(--icon-hover);
  }
  &.icon-facebook-square {
    color:	#1877F2;
  }
  &.icon-whatsapp {
    color: 	#25D366;
  }
  &.icon-linkedin {
    color:  #0a66c2;
  }
}
@media (max-width: 1200px) {
  .hero .right-section 
  ,.contact-us .right-section{
      display: none;
  }
}

